  body{background-color: ivory}
   
   hr{background-color: ivory;
      border-style: dotted none none none;
      border-width: 10px;
      color: gray;
      height: 1%;
      width: 10%;}
   
  h1{color: #66BFBF;}     
   
  h3{color: #66BFBF;}